
body {

    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
}

#padre {

    height: 45em;
    width: 45em;

    background-color: orange;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hijo {
    height: 10em;
    width: 11em;

    padding: 2em;

    background-color: darkred;
}

@media (max-width: 500px){
    #padre {
        background-color: blueviolet;

        flex-direction: column;
    }
}